# 4t DigiNext Data & ML Bootcamp

## Week 1 - EDA

### Optional SQL Lab – Chinook (SQLite)

**Goal (≈1 hour):** practice core SQL on a realistic schema: explore tables, `SELECT`/`LIMIT`, `WHERE`, `GROUP BY`, `ORDER BY`, and `JOIN`s.

## Setup
Run the next cell in **Colab** or locally. If you're on Colab, the download uses internet; otherwise upload `chinook.db` next to this notebook.

In [ ]:
# --- Download (Colab) OR upload the database file ---
# Colab download (uncomment to use):
!wget -q https://github.com/lerocha/chinook-database/releases/download/v1.4.5/Chinook_Sqlite.sqlite -O chinook.db

In [ ]:

import os, sqlite3, pandas as pd

DB_PATH = "chinook.db"
if not os.path.exists(DB_PATH):
    print("⚠️  'chinook.db' not found. Run the wget command above or upload the file.")
else:
    con = sqlite3.connect(DB_PATH)
    print("✅ Connected to", DB_PATH)

def run(sql):
    if 'con' not in globals():
        print("❌ Not connected. Upload/download 'chinook.db' then re-run setup.")
        return
    try:
        return pd.read_sql_query(sql, con)
    except Exception as e:
        print("SQL error:", e)

## 1) Explore tables

**1.1 List all tables**

In [ ]:
sql = """SELECT name AS table_name
FROM sqlite_master
WHERE type='table'
ORDER BY table_name;
"""
run(sql)

**1.2 Row counts per table**

In [ ]:
tables = run("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
if tables is not None:
    names = tables.iloc[:,0].tolist()

    for t in names:
        try:
            n_df = run(f"SELECT COUNT(*) AS n FROM {t};")
            n = int(n_df['n'][0])
            print(f"table: {t}")
            print(f"num_rows: {n}")
            print("-"*15)
        except Exception:
            print(f"{t} | None")

## Now it's your turn to code!

## 2) `SELECT` and `LIMIT`

**2.1** Take a look at `tracks` table.

**2.2** Select Name and Composer for 10 rows from tracks

**2.3** Distinct billing countries, alphabetical (limit 10).

**2.4** Top 10 longest tracks.

**2.5** Explore other tables.

## 3) `WHERE` filters

**3.1** Tracks priced between $0.99 and $1.49 (inclusive).

**3.2** Invoices from USA or Canada (show InvoiceId, InvoiceDate, BillingCountry, Total).

**3.3** Tracks with Composer containing 'Bach'.

**3.4** Invoices between 2009-01-01 and 2010-12-31.

## 4) Aggregations with `GROUP BY`

**4.1** Total sales by BillingCountry (top 10).

**4.2** Average track length by Genre.

**4.3** Customers with ≥5 invoices.

## 5) Different joins

**5.1 INNER JOIN** Show the name of each track with the album title.

**5.2 INNER JOIN** 10 top tracks based on revenue.

**5.3 LEFT JOIN** Tracks not in any playlist.

**5.4 LEFT JOIN** Artists with zero albums (if any).

## More?

https://www.kaggle.com/learn/intro-to-sql

https://www.kaggle.com/learn/advanced-sql