# 4t DigiNext Data & ML Bootcamp

## Week 1 - EDA

### Essential Tools for Data Exploration

This notebook serves as a practical guide to essential
tools for data exploration.



---

## Jupyter Notebooks & Google Colab

### Task 1

This Notebook is read-only and you can't modify it!

Go to `File` tab and click on `Save a copy in Drive`.

We suggest that you create a folder in your Drive for your notebooks.

Then, proceed in your own notebook!

### Task 2

There is a code block below, fill the variable using your name and run the block.

In [1]:
## Task 2

student_name = "<Amir>"
print(f"This notebook belongs to {student_name}")

This notebook belongs to <Amir>

### Task 3

Go to `File` tab and click on `Download` and then select `Download .ipynb`.

## NumPy

### Easier to work

#### Task 1

Run this code block.

In [2]:
# NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices,
# along with a large collection of high-level mathematical functions to operate on these arrays.

import numpy as np

# Create a NumPy array
numpy_array = np.array([1, 2, 3, 4, 5])
print("NumPy Array:", numpy_array)

# Create a Python list
python_list = [1, 2, 3, 4, 5]
print("Python List:", python_list)

# Perform an element-wise operation (e.g., add 10 to each element)
# Using NumPy (vectorized operation)
numpy_result = numpy_array + 10
print("NumPy Result (add 10):", numpy_result)

# Using Python list (requires a loop or list comprehension)
python_result = [x + 10 for x in python_list]
print("Python List Result (add 10):", python_result)


# Calculate the sum of all elements in a NumPy array vs Python list
sum_of_elements_numpy = np.sum(numpy_array)
print("Sum of elements in NumPy Array:", sum_of_elements_numpy)

sum_of_elements_python = sum(python_list)
print("Sum of elements in Python List:", sum_of_elements_python)


# Calculate the mean of elements in a NumPy array vs Python list
mean_of_elements_numpy = np.mean(numpy_array)
print("Mean of elements in NumPy Array:", mean_of_elements_numpy)

mean_of_elements_python = sum(python_list) / len(python_list)
print("Mean of elements in Python List:", mean_of_elements_python)

NumPy Array: [1 2 3 4 5]
Python List: [1, 2, 3, 4, 5]
NumPy Result (add 10): [11 12 13 14 15]
Python List Result (add 10): [11, 12, 13, 14, 15]
Sum of elements in NumPy Array: 15
Sum of elements in Python List: 15
Mean of elements in NumPy Array: 3.0
Mean of elements in Python List: 3.0

### No for loops!

#### Task 2
Run this code block.

In [5]:
# Matrix operations using NumPy
matrix_a_numpy = np.array([[1, 2], [3, 4]])
matrix_b_numpy = np.array([[5, 6], [7, 8]])

# Matrix multiplication using NumPy
matrix_c_numpy = np.dot(matrix_a_numpy, matrix_b_numpy)
print("NumPy Matrix Multiplication Result:\n", matrix_c_numpy)

# Matrix operations using Python lists (requires nested loops)
matrix_a_python = [[1, 2], [3, 4]]
matrix_b_python = [[5, 6], [7, 8]]

# Initialize result matrix with zeros
matrix_c_python = [[0, 0], [0, 0]]

# Matrix multiplication using Python lists
for i in range(len(matrix_a_python)):
   for j in range(len(matrix_b_python[0])):
       for k in range(len(matrix_b_python)):
           matrix_c_python[i][j] += matrix_a_python[i][k] * matrix_b_python[k][j]

print("Python List Matrix Multiplication Result:\n", matrix_c_python)

NumPy Matrix Multiplication Result:
 [[19 22]
 [43 50]]
Python List Matrix Multiplication Result:
 [[19, 22], [43, 50]]

#### Task 3

What is matrix? What is 'np.dot' function doing?
Learn more and explain briefly.

YOUR RESPONSE: dot is a method in numpy that does the "dot product" (ضرب داخلی) of two matrices constructed with np.array without nested loops and returns the result in a np.array

### Faster!

#### Task 4

Run this code block and try different values for `NUM_TRIALS`

In [15]:
# Time comparison for simple operations
import numpy as np
import time
import random

# Create large NumPy array and Python list
size = 1_000_000
NUM_TRIALS = 0 # try 1, 10, 100, and 1000

numpy_array_large = np.arange(size)
python_list_large = list(range(size))

# Time element-wise addition
start_time = time.time()
for i in range(NUM_TRIALS):
  new_numpy_result_large = numpy_array_large + random.randint(1, 10)
end_time = time.time()
print(f"NumPy element-wise addition took: {end_time - start_time:.6f} seconds")

start_time = time.time()
for i in range(NUM_TRIALS):
  new_python_result_large = [x + random.randint(1, 10) for x in python_list_large]
end_time = time.time()
print(f"Python list element-wise addition took: {end_time - start_time:.6f} seconds")

NumPy element-wise addition took: 0.000148 seconds
Python list element-wise addition took: 0.000196 seconds

#### Task 5

Learn more about how and why numpy is faster, then explain briefly.


numpy is faster than pure python because it:


1.   stores data compactly
2.   uses compiled C loops instead of python loops
3.   Leverages cpu vector instructions
4.   uses optimized math libraries

## Pandas

#### Task 1

Run this code block.

### Dataframe and Series

In [16]:
import pandas as pd

# Create a simple DataFrame
data = {'col1': [1, 2, 3], 'col2': ['A', 'B', 'C']}
df = pd.DataFrame(data)
print("Type of df:", type(df))
print("Type of a column:", type(df["col1"]))
print("Simple DataFrame:")
df

Type of df: <class 'pandas.core.frame.DataFrame'>
Type of a column: <class 'pandas.core.series.Series'>
Simple DataFrame:

   col1 col2
0     1    A
1     2    B
2     3    C

### Loading a DataFrame

#### Task 2

Upload the `titanic.csv` file to your session and run this code block.

In [21]:
# Read the dataset from csv file

df = pd.read_csv("titanic.csv")
print("Shape of df:", df.shape)

Shape of df: (891, 12)

In [22]:
# Let's take a look at the dataframe
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Exploring a DataFrame

#### Task 3

Run all the code blocks. Make sure you understand what each code does!

In [23]:
# Gather some info about each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
# Describe numerical columns
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
# Count values in a column
df["Embarked"].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [26]:
# Calculate the mean value of a column
df["Survived"].mean()

np.float64(0.3838383838383838)

In [27]:
# Group by a column and calculate the mean value of another column
df.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [28]:
# Access a row using index
df.loc[10]

PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object

### Transforming a DataFrame

In [29]:
df["is_male"] = df["Sex"] == "male"

In [30]:
# Filter based on column values
survived_females_df = df[(df["Survived"] == 1) & (df["Sex"] == "female")]
survived_females_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,False
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,False
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,False
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False

In [31]:
def get_age_bucket(age):
  if age < 18:
    return "child"
  elif age < 35:
    return "young"
  else:
    return "old"

df["age_bucket"] = df["Age"].apply(get_age_bucket)

In [33]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_male,age_bucket
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,young
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,old
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,young
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False,old
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True,young
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False,young
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,old
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True,young
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True,young